.footer-wrapper {
	border-top: solid 1px #e9ebee;
}
footer {
	max-width: 1440px;
	margin: 0 auto;
	li {
		margin-bottom: 1rem;
	}
	.footer-contents {
		justify-content: space-between;
		padding: 1rem 0rem 2rem 0rem;
	}
	.footer-baseline {
		font-size: .875rem;
		li {
			display: inline;
			margin-right: .75rem;
		}
	}
}