.flex {
	display: flex;
}
.grid {
	display: grid;
	grid-column-gap: 1rem;
	grid-row-gap: 1rem;
	margin: 0 auto;
	/*grid-template-columns: repeat( auto-fit, minmax(250px, 1fr) );*/
	&.photo-grid {
		img {
			border-radius: 6px;
		}
	}
	.profile {
		img {
			margin: 0 auto;
		}
	}
}
.grid-wrapper {
	margin: 1rem 0 3rem 0;
	h2 {
		margin: 0 0 1rem 0;
	}
	p {
		margin: 0 0 1.5rem 0;
	}
}
.feed {
	margin: 0;
	grid-column-start: span 12;
	img {
		display: block;
	}
	h3 {
		font-size: 1.5rem;
		font-weight: 700;
		margin: 0 0 .5rem 0;
		line-height: 1.3;
	}
	.label {
		color: #949BAD;
		text-transform: uppercase;
		font-size: .875rem;
	}
	p {
		font-size: 1.125rem;
		line-height: 1.8;
		margin: 0;
		color: #44464f;
	}
	li {
		display: grid;
		grid-column: span 12;
		grid-gap: 2rem;
		margin: 0;
		padding: 1.5rem 0;
		border-bottom: solid 1px #c3cace;
		&:last-of-type {
			border: none;
		}
		&:first-of-type {
			padding-top: 0;
		}
	}
	&.article-feed {
		article {
			list-style-type: none;
			grid-column-start: span 12;
			transition: all .2s ease;
			width: 100%;
		}
		figure {
			margin-top: 1.5rem;
			img {
				border: solid 1px #ccc;
				border-radius: 6px;
			}
			a {
				img {
					transition-timing-function: ease-in;
					transition: .25s;
					&:hover {
						-webkit-box-shadow: 3px 3px 30px -2px rgba(153,153,153,.5);
					    -moz-box-shadow: 3px 3px 30px -2px rgba(153,153,153,.5);
					    box-shadow: 3px 3px 30px -2px rgba(153,153,153,.5);
					    -webkit-transform: translateY(-2px);
					    transform: translateY(-2px);
					}
				}
			}
		}
		figcaption {
			margin: 0;
		}
		.byline {
			margin: 1rem 0 .5rem 0;
			color: #44464f;
			& a {
				color: #949BAD;
				&:hover {
					color: #007AFF;
				}
			}
		}
		.author {
			font-weight: 600;
			display: block;
			line-height: 1.3;
		}
		.author-handle {
			display: block;
			line-height: 1.3;
			a {
				color: #949BAD;
			}
		}
		.author-headshot {
			float: left;
			border-radius: 50%;
			height: 35px;
			display: inline-block;
			vertical-align: middle;
			margin-right: .5rem;
		}
	}
}

.tiles {
	article, .figure-wrapper {
		grid-column: span 12;
		margin-bottom: 2rem;
		figure {
			margin-bottom: 1rem;
		}
	}
}

// medium screen size up
@media (min-width: 600px ) {
	.feed {
		h3 {
			font-size: 2rem;
		}
		&.article-feed {
			figure {
			}
			article {
				display: grid;
				grid-column: span 12;
				grid-template-columns: repeat(12, 1fr);
				figcaption {
					grid-column: span 12;
				}
				figure {
					margin: 0;
					grid-column: span 12;
				}
			}
		}
	}
}
@media (min-width: 800px ) {
	.sub-section-header {
		h2 {
			font-size: 2.875rem;
		}
	}
	.feed {
		&.tiles {
			grid-gap: 3rem;
			img {
				width: 100%;
				height: auto;
			}
			article, .figure-wrapper {
				grid-column: span 6;
			}
		}
		&.article-feed {
			article, .figure-wrapper {
				grid-gap: 2rem;
				figcaption {
					grid-column: span 9;
				}
				figure {
					grid-column: span 3;
				}
			}
		}
		&.dive-log {
			grid-gap: 2rem;
			figcaption {
				grid-column: span 10;
			}
			figure {
				grid-column: span 2;
			}
		}
	}
}
@media (min-width: 1000px ) {
	.grid {
		&.grid-2 {
			grid-template-columns: repeat(2, 1fr);
		}
		&.grid-3 {
			grid-template-columns: repeat(3, 1fr);
		}
		&.grid-4 {
			grid-template-columns: repeat(4, 1fr);
		}
		&.grid-5 {
			grid-template-columns: repeat(5, 1fr);
		}
	}
	.grid-wrapper {
		&.tiles {
			article, .figure-wrapper {
				grid-column-start: 2;
				grid-column: span 4;
			}
			&.four-items {
				article, .figure-wrapper {
					grid-column-start: 2;
					grid-column: span 3;
				}
			}
		}
	}
}