<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Wavenly</title>
  <meta
    name="description"
    content="Reserve a cremation or green burial"
  />
  <meta itemprop="name" content="Wavenly" />
  <meta
    itemprop="description"
    content="Reserve a cremation or green burial"
  />
  <meta
    itemprop="image"
    content="http://wavenly.com/static/ca-styled-logo-5205dbb0983e1531d228c98584ab5711.png"
  />
  <meta property="og:url" content="https://Wavenly.com" />
  <meta property="og:type" content="website" />
  <meta property="og:title" content="Wavenly" />
  <meta
    property="og:description"
    content="Reserve a cremation or green burial"
  />
  <meta
    property="og:image"
    content="http://wavenly.com/static/ca-styled-logo-5205dbb0983e1531d228c98584ab5711.png"
  />
  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:title" content="Wavenly" />
  <meta
    name="twitter:description"
    content="Reserve a cremation or green burial"
  />
  <meta
    name="twitter:image"
    content="http://wavenly.com/static/ca-styled-logo-5205dbb0983e1531d228c98584ab5711.png"
  />
  <link href="https://fonts.googleapis.com/css?family=Merriweather:300,300i,400,400i,700,700i,900,900i" rel="stylesheet">
</head>
<body>
<div id="root">
    <!-- React will load here -->
</div>
</body>
{% load static %}
<script src="{% static "frontend/main.js" %}"></script>
<script src="{% static "frontend/pushy.js" %}"></script>
<script src="{% static "frontend/dropdown.js" %}"></script>
<script src="{% static "frontend/modal.js" %}"></script>
</html>